:root {
    --pallete-color-background: oklch(0.92 0 155);
    --pallete-color-surface: oklch(0.96 0 155);
    --pallete-color-muted: oklch(1 0 155);
    --pallete-color-text: oklch(0.15 0 155);
    --pallete-color-text-muted: oklch(0.4 0 155);
    --pallete-color-border: oklch(0.6 0 155);
    --pallete-color-border-muted: oklch(0.7 0 155);
    --pallete-color-primary: oklch(0.8 0.2 155);
    --pallete-color-secondary: oklch(0.4 0.1 335);
    --pallete-color-danger: oklch(0.5 0.05 30);
    --pallete-color-warning: oklch(0.5 0.05 100);
    --pallete-color-success: oklch(0.5 0.05 160);
    --pallete-color-info: oklch(0.5 0.05 260);
    --pallete-color-accent: oklch(0.55 0.12 270);
    --pallete-color-accent-strong: oklch(0.55 0.25 275);
    --pallete-color-shadow: oklch(0.8 0 155);
}
